*{
    margin:0;
    padding: 0;
}
/*BODY*/

body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*HEADER*/

.header{
    background-color: #41584B;
}
.headernav{
    background-color:#41584B;
}

.headernav a{
    text-decoration: none;
    color: #B7A56F;
    font-size: 16px;

}

.headernav a:hover{
    text-decoration: underline;
    color: #B7A56F;
}

.headernav a:active{
    color:#41584B;
    font-weight: bolder;
    background-color: #B7A56F;
}

.logocabana{
    max-height: 60px;
    margin-top: 10px;
}
/*BOTON RESERVA*/

.botonreserva{
    background-color: #B7A56F;
    color: aliceblue;
    font-weight: bolder;

}

.botonreserva:hover{
    background-color: #e6e2de;
    color: #41584B;
    font-weight: bolder;

}

/* MAIN */

.imagen_fondo{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    width: 100%;
    height: 100vh;
    opacity: 80%;
}

h1 {
    color: white;
    padding-top: 500px;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;

}

h2{
    color: white;
    font-size: x-large;
}

/*Main: formato de los h3*/
h3{
    color: #B7A56F;
    font-family: "oswald";
    font-size: 40px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;

} 

/*parrafo de la cabaña*/
.texto{
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/*FOOTER*/

.footersection{
    background-color: #41584B;
}

.textologo{
    color: #B7A56F;
    font-size: large;
}

.images_footer{
    max-height: 30px;
    margin-bottom: 30px;
    padding: 5px;
}